
Debug/

AcDebug/

HelpEdDebug/

CFileArchiverDebug/

PofViewDebug/

ScrambleDebug/

NebEditDebug/

CryptstringDebug/

*.pdb

*.db

*.ilk

FonttoolDebug/

*.opendb

*.bsc

\.vs/freespace2/v14/\.suo

FredDebug/

Cfilearchiver\.exe

Cryptstring\.exe

Scramble\.exe

UpgradeLog\.htm
